[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
wrapt = "*"
future = "*"

[dev-packages]
bumpversion = "*"
watchdog = "*"
"flake8" = "*"
tox = "*"
coverage = "*"
cryptography = "*"
pylint = "*"
pytest = "*"
pytest-runner = "*"
Sphinx = "*"
PyYAML = "*"
nose = "*"
"doc8" = "*"
"unittest2" = "*"
"autopep8" = "*"
sphinx-bootstrap-theme = "*"

[requires]
python_version = "3.7"
