[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
wrapt = "*"

[dev-packages]
bumpversion = "*"
watchdog = "*"
"flake8" = "*"
tox = "*"
coverage = "*"
cryptography = "*"
pytest = "*"
pytest-runner = "*"
Sphinx = "*"
PyYAML = "*"
nose = "*"

[requires]
python_version = "3.7"
