[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
pytz = "*"
wrapt = "*"
future = "*"
piconnect = {editable = true,path = "."}

[dev-packages]
black = "*"
tox = "*"
coverage = "*"
mypy = "*"
pylint = "*"
pytest = "*"
pytest-runner = "*"
Sphinx = "*"
PyYAML = "*"
"doc8" = "*"
twine = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
