[build-system]
requires = ["setuptools", "wheel"]
build-backend = "setuptools.build_meta:__legacy__"

[tool.pytest.ini_options]
minversion = "6.0"
addopts = "-ra --durations=0 --cov-report xml:coverage.xml --cov PIconnect"

[tool.isort]
# make it compatible with black
profile = "black"

[tool.black]
line-length = 88
target-version = ['py38', 'py39', 'py310', 'py311']
include = '\.pyi?$'
